/*General*/
body {
    padding: 1em;
}

h1, h4{
    font-family: 'Noto Sans Mono';
}

ul, p, h5{
    font-family: 'Noto Serif';
}

/*About*/
img {
    width: 350px;
    height: 500px;
}

/*Clips*/
#black-explosion{
    color:maroon;
}

#kool-korner{
    color: forestgreen;
}

#mitzpeh{
    color: blue;
}

/*Insert padding on the left of the list*/

/*Resume*/

/*Contact*/
#contact-title{
    font-family: 'Noto Sans Mono';
} 